@{
    //hoe werken Request.UrlRefferer.AbsolutePath en Request.Url.AbsolutePath?
    if (IsPost && Request.UrlReferrer.AbsolutePath != Request.Url.AbsolutePath)
    {
        Session["product"] = Request.Form["product"];
        Session["gebruikersnaam"] = Request.Form["gebruikersnaam"];
        Session["wachtwoord"] = Request.Form["wachtwoord"];
        Session["product"] = Request.Form["product"];

        Response.Write("<b>Vul de open gegevens in</b>");
    }

    if (IsPost && Request.UrlReferrer.AbsolutePath == Request.Url.AbsolutePath)
    {
        Session["straat"] = Request.Form["straat"];
        Session["nummer"] = Request.Form["nummer"];
        Session["plaats"] = Request.Form["plaats"];
        Response.Redirect("Overview");
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
    <title></title>
</head>
<body>
<form method="post">
    <label for="gebruikersnaam">Gebruikersnaam</label>
    <br />
    <input type="text" name="gebruikersnaam" id="gebruikersnaam" value="@Session["gebruikersnaam"]" readonly>
    <br />
    <label for="wachtwoord">Wachtwoord</label>
    <br />
    <input type="password" name="wachtwoord" id="wachtwoord" value="@Session["wachtwoord"]" readonly>
    <br />
    <label for="product">Selecteer een product</label>
    <br/>
    <input type="text" id="product" name="product" value="@Session["product"]" readonly>
    <br/>
    <label for="straat">Straat:</label>
    <br/>
    <input type="text" id="straat" name="straat" value="@Session["straat"]"/>
    <br/>
    <label for="nummer">Nummer:</label>
    <br/>
    <input type="text" id="nummer" name="nummer" value="@Session["nummer"]"/>
    <br/>
    <label for="plaats">Plaats:</label>
    <br/>
    <input type="text" id="plaats" name="plaats" value="@Session["plaats"]"/>
    <br/>
    <input type="submit" value="Next">
</form>
</body>
</html>
